/* INICIO TAGS */

* {
    margin: 0;
    padding: 0;
}

article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
    display: inline-flex;
}

footer {
    background-color: #005883;
    bottom: 0;
    left: 0;
}

html {
    align-self: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: auto;
    width: auto;
}

li:hover ul#submenu {
    opacity: 0.8;
    top: 40px;
    visibility: visible;
}

video {
    min-width: 50%;
    overflow: hidden;
    position: fixed;
    z-index: -1;
}


/* FIN TAGS */


/* INICIO ID's */

#actividades {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#actividad2 {
    display: inline-flex;
    flex-direction: row-reverse;
}

#basePagina {
    color: aliceblue;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

#contador {
    align-content: flex-end;
    display: flex;
    flex-direction: column;
}

#contenido1Footer h3 {
    padding-top: 1em;
    text-align: center;
}

#contenido1Footer p {
    padding: 1em;
    text-align: left;
}

#contenido2Footer {
    display: flex;
    flex-direction: column;
}

#contenidoRelaciones {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    text-shadow: .2em .2em .3em gray, 0 0 1em white, 0 0 0.2em black;
    padding: 1em 2em;
}

#bloquePrincipal {
    align-self: auto;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: left;
    width: 100%;
}

#footer {
    display: inline-flex;
    width: 100vw;
}

#header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    z-index: inherit;
}

#headerContainer {
    background-image: url("../img/poster.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 50vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#iconosSociales img {
    padding: 0 2px;
}

#logo {
    height: 80px;
}

#logoUnad,
.dropdownmenu {
    display: inline-block;
    vertical-align: top;
}

#logoYoutube {
    height: auto;
    width: 100px;
}

#redesSociales {
    padding: 1em 0.5em;
}

#submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}

#submenu li {
    float: none;
    width: 100%;
}

#submenu a:hover {
    background: #F47920;
}

#submenu a {
    background-color: #F0B429;
}

#textoAct1,
#textoAct2,
#textoAct3,
.actividades {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    padding: 1em;
    text-shadow: .2em .2em .3em gray, 0 0 1em white, 0 0 0.2em black;
}

#textoHome {
    background-color: rgba(0, 88, 131, 0.5);
    display: flex;
    height: 50vh;
    padding: 3em 1em;
}

#textoHomeSubTitulo {
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    text-shadow: 3px 3px 2px #333333;
}

#textoHomeTitulo {
    color: whitesmoke;
    font-size: 4em;
    font-weight: 900;
    padding-top: 0;
    text-align: center;
    text-shadow: 3px 3px 2px #333333;
}

#textoRelacion {
    background-color: rgba(00, 58, 83, 0.5);
}

#videoBG {
    max-width: 100%;
    min-width: 100%;
    position: fixed;
}


/* FIN ID's */


/* INICIO CLASES */

.actividades {
    background-image: url(../img/backgroundActividades.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.articleHome {
    border-style: solid;
    border-width: 1px;
    border-color: #005883;
    margin: 0px 2px;
    padding: 0.4em;
}

.autor {
    border-color: #F47920;
    border-style: solid;
    box-shadow: 1px 3px 1px 1px #005883;
    margin: 2px;
}

.contenidoFooter {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    width: 30vw;
}

.contenidoLecturas {
    display: flex;
    background-image: url(../img/backgroundActividades.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.contenidoTextoHome {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.contenidosCentrales h1 {
    color: aliceblue;
    text-align: center;
    text-shadow: #333333;
}

.fotoAutor {
    width: 150px;
}

.parrafoHome {
    text-align: justify;
}

.dropdownmenu a {
    border-bottom-left-radius: 1em;
    border-top-right-radius: 0.5em;
    color: rgb(12, 12, 12);
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.dropdownmenu li {
    float: left;
    position: relative;
    width: auto;
}

.dropdownmenu li:hover a {
    background: #F0B429;
}

.dropdownmenu ul,
.dropdownmenu li {
    margin: 0;
    padding: 0;
}

.dropdownmenu ul {
    list-style: none;
}

.infoAutor {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding: 0 1em;
}

.infoAutor p {
    padding: 1px;
}

.parrafoImagen {
    color: whitesmoke;
    font-weight: 600;
    padding: 1em 2em;
}


/* FIN CLASES */